.appContainer {
    width: min(784px, 100vw);
    padding: 0 1.5rem;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.cover {
    background: var(--gray-700);
    width: 100vw;
    height: 12.5rem;
}

.logo {
    display: block;
    margin: 4.5rem auto 0;
}