.formContainer {
    display: flex;
    gap: 0.5rem;

    width: 100%;
    margin-top: -1.68rem;
}

.formContainer input[type='text'] {
    height: 3.375rem;
    padding: 1rem;
    flex: 1;

    background: var(--gray-500);
    border: 1px solid var(--gray-700);
    border-radius: 8px;

    color: var(--gray-300);
    line-height: 22px;
}

.formContainer button[type='submit'] {
    display: flex;
    align-items: center;
    gap: 0.5rem;

    background: var(--blue-dark);
    border-radius: 8px;
    padding: 1rem;

    color: var(--gray-100);
    line-height: 20px;
    font-size: 0.875rem;
    font-weight: bold;
    cursor: pointer;
}

.formContainer button[type='submit']:hover {
    background: var(--blue);
    transition: background-color 0.2s ease-in;
}